<% layout('layouts/boilerplate.ejs')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input type="text" name="campground[title]" class="form-control" id="title"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">Looks good !</div>
                </div>
                <div class="form-group mb-3">
                    <label for="location">Location</label>
                    <input type="text" name="campground[location]" class="form-control" id="location"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">Looks good !</div>
                </div>
                <div class="mb-3">
                    <label for="price">Campground Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="price">$</span>
                        </div>
                        <input type="text" class="form-control" id="price" name="campground[price]"
                            value="<%= campground.price %> " required>
                        <div class="valid-feedback">Looks good !</div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea name="campground[description]" class="form-control" id="description"
                        required><%=campground.description%></textarea>
                    <div class="valid-feedback">Looks good !</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add image(s)</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach((img, i)=>{ %>
                        <img class="img-thumbnail" src="<%=img.thumbnail%>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="<%=`image-${i}`%>" name="deleteImages[]"
                                value="<%=img.filename%>">
                            <label for="<%=`image-${i}`%>">
                                Delete ?
                            </label>
                        </div>
                        <% }) %>
                </div>
                <button type="submit" class="btn btn-info">Update</button>
                <a href="/campgrounds/<%=campground._id%>" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>